:root{
    --div-primary-color: #1B4284;
    --div-hover-color: #D40000;
    --div-button-color:#FCD116;
    --text-color: rgb(84, 95, 110);
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  *{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
  }

header{
    padding: 20px 40px;
    color: var(--div-primary-color);
    text-align: center;
  }

  header a{
    position: absolute;
    left: 2rem;
    color: var(--div-primary-color);
  }

  header i{
    font-size: 2rem;
  }

img{
    position: absolute;
    width: 80%;
    margin: auto;
    opacity: .2;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
}

.date{
    display: flex;
    justify-content: end;
}

.date input{
    width: 100px;
}

.allow{
    text-align: center;
    margin-bottom: 1rem;
}

.note{

    .note-info{
        display: flex;
    }

    h4{
        margin-top: .5rem;
        margin-bottom: 0;
        font-size: .9rem;
    }

    hr{
        width: 190px;
        border: 1px solid black;
    }
}

.note p{
    font-size: .8rem;
    margin: 1.5rem 0;
}

em{
    padding-top: 0;
    font-size: .8rem;
}

.container h2{
    color: var(--div-primary-color);
    text-align: center;
    margin-bottom: 1rem;
}

.container {
    margin: auto;
    position: relative;
    padding: 20px;

    .upper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mid{
        width: 100%;
        height: 70%;
        strong{
            text-decoration: underline 2px;
            text-underline-offset: 2px;
        }
        
        p{
        line-height: 1.5rem;
        margin-bottom: .5rem;
        }

        input{
            text-align: center;
        }

        span{
            border: none;
            border-bottom: 2px solid black;
            font-weight: bold;
            font-size: 1rem;
            width: 100px;
        }

        h2{
            color: gray;
            width: 32%;
            padding-left: 50px;
            display: flex;
            
            span{
                color: black;
                z-index: 1;
                height: 20px;
                padding-bottom: 5px;
                margin-left: 20px;
            }
            
        }
    }

    label{
        white-space: nowrap;
        font-weight: bold;
    }

    input{
        border: none;
        border-bottom: 2px solid black;
        font-weight: bold;
        padding-left: 10px;
        font-size: 1rem;
    }

    textarea{
        font-family: sans-serif;
        display: block;
        font-size: 1rem;
        padding: 8px 20px;
        width: 100%;
        height: 100px;
        resize: none;
        /* border: 2px solid black; */
        border: none;
        background-color: gainsboro;
        margin-top: .5rem;
        z-index: 1;
    }

    .input-wrap{
        display: flex;
        gap: 2px;
        margin-bottom: 1rem;
    }

    .lower{
        padding-top: 3rem;
        width: 100%;

        .lower-list{
            display: flex;
            justify-content: space-between;
            align-items: end;
            margin-top: auto;
            flex-wrap: wrap;
            gap: 3rem 1rem;
            padding-top: 3rem;

            h4{
                text-align: center;
                margin-top: .5rem;
                margin-bottom: 0;
                font-size: .8rem;
            }
    
            hr{
                width: 160px;
                border: 1px solid black;
            }
    }
    }
}

